
.signup{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-dev{
    height: 450px;
    width: 290px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: antiquewhite;
    border-radius: 5px;
}
.register-form{
    display: flex;
    justify-content: center;
    padding: 0;
}
.register-input input{
    height: 40px;
    width: 250px;
    margin-top: 20px;
    border: none;
    border-radius: 50px;
    padding: 10px;
}
.signup-btn{
    background-color: rgb(243, 212, 184);
    transition: .4s;
}
.signup-btn:hover{
    background-color: rgb(226, 193, 150);
}